<div class="content container">

  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="bookForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input name="title" id="title" formControlName="title" type="text" class="form-control" required>
          <!--          <div class="alert alert-danger" *ngIf="title.touched && title.invalid">-->
          <!--            Title is required.-->
          <!--          </div>-->
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input name="price" id="price" formControlName="price" type="number" class="form-control" required
                   [min]="0">
          </div>
          <!--          <div class="alert alert-danger" *ngIf="price.touched && price.invalid">-->
          <!--            <div *ngIf="price.errors.required">Price is required.</div>-->
          <!--            <div *ngIf="price.errors.min">Price should be 0 or higher.</div>-->
          <!--          </div>-->
        </div>
        <div class="form-group">
          <label for="releaseDate">Release Date</label>
          <input name="releaseDate" id="releaseDate" formControlName="releaseDate" type="date"
                 class="form-control" required>
          <!--          <div class="alert alert-danger" *ngIf="title.touched && title.invalid">-->
          <!--            Title is required.-->
          <!--          </div>-->
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input name="description" id="description" formControlName="description" type="text" class="form-control"
                 required>
          <!--          <div class="alert alert-danger" *ngIf="title.touched && title.invalid">-->
          <!--            Title is required.-->
          <!--          </div>-->
        </div>
        <div class="form-group">
          <label for="photoName">PhotoName</label>
          <input name="photoName" id="photoName" formControlName="photoName" type="text" class="form-control" required>
          <!--          <div class="alert alert-danger" *ngIf="title.touched && title.invalid">-->
          <!--            Title is required.-->
          <!--          </div>-->
        </div>
        <div class="form-group">
          <label for="productInStock">productInStock</label>
          <input name="productInStock" id="productInStock" formControlName="productInStock" type="number"
                 class="form-control" required>
          <!--          <div class="alert alert-danger" *ngIf="title.touched && title.invalid">-->
          <!--            Title is required.-->
          <!--          </div>-->
        </div>
        <div class="form-group" formGroupName="author">
          <label for="author">Author</label>
          <select name="author" id="author" formControlName="id" class="form-control" required>
            <option value="Choose Author"></option>
            <option *ngFor="let author of authors" [value]="author.id">
              {{ author.name }}
            </option>
          </select>
          <!--          <div class="alert alert-danger" *ngIf="category.touched && category.invalid">-->
          <!--            Category is required.-->
          <!--          </div>-->
        </div>
        <div class="form-group" formGroupName="category">
          <label for="category">Category</label>
          <select name="category" id="category" formControlName="id" class="form-control" required>
            <option value="Choose Category"></option>
            <option *ngFor="let category of categories" [value]="category.id" >
              {{ category.name }}
            </option>
          </select>
          <!--          <div class="alert alert-danger" *ngIf="category.touched && category.invalid">-->
          <!--            Category is required.-->
          <!--          </div>-->
        </div>

        <button class="btn btn-primary" (click)="addBook()">Save</button>

      </form>
    </div>
  </div>

</div>
