<div class="content container">
  <a class="btn btn-blue-grey" (click)="goTo('private/admin/book-store/category/add')">Add</a>
  <a class="btn btn-success"  (click)="goTo('private/admin/book-store')">return</a>
  <hr>
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>category List</h2>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>name</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let category of categories ">
            <td>{{category.id}}</td>
            <td>{{category.name}}</td>
            <td>
              <button (click)="deleteCategory(category.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateCategory(category)" class="btn btn-info" style="margin-left: 10px">Update</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

